:root {
  --main-text-font: 'Roboto', sans-serif;

  --main-page-color: #ffffff;
  --main-text-color: #211f54;
  --secondary-text-color: #6e7191;
  --accent-color: #0075ff;
  --bg-color: #f7f9fc;
  --feature1-color: #dcddeb;
  --feature1-color: #edf5ff;

  --timing-fn: cubic-bezier(0.23, 1, 0.32, 1);
}
