<section class="advantages" id="advantages">
  <div class="container">
    <div class="advantages__part">
      <h2 class="advantages__title section-title">
        What makes us different?
      </h2>
      <p class="advantages__desc section-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam.
      </p>
      <p class="advantages__text">
        Sed ut perspiciatis unde omnis iste natus error sit atem accusantium doloremque laudantiu sed ut.
      </p>
      <ul class="advantages__list">
        <li class="advantages__item">
          <p class="advantages__point">
            <span class="advantages__number">10</span>
            <span class="advantages__plus">+</span>
          </p>
          <p class="advantages__caption">Years</p>
        </li>
        <li class="advantages__item">
          <p class="advantages__point">
            <span class="advantages__number">5k</span>
            <span class="advantages__plus">+</span>
          </p>
          <p class="advantages__caption">Clients</p>
        </li>
        <li class="advantages__item">
          <p class="advantages__point">
            <span class="advantages__number">20k</span>
            <span class="advantages__plus">+</span>
          </p>
          <p class="advantages__caption">Jobs done</p>
        </li>

      </ul>
      <a class="advantages__button main-button blue" href="#request">Get a free quote</a>
    </div>

    <div class="advantages__part--img">
      <img class="advantages__img" src="./img/cleaner2.svg" alt="a man cleans the floor">
    </div>
  </div>
  <div class="advantages__cover container">
    <span class="advantages__delimiter delimiter"></span>
  </div>
</section>