<section class="areas" id="areas">
  <div class="container top bottom">
    <div class="areas__part">
      <h2 class="areas__title section-title">
        We cover all areas of your home or office
      </h2>
      <p class="areas__desc section-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Ut enim ad minim veniam.
      </p>
      <ul class="areas__list">
        <li class="areas__item">
          <img class="areas__icon" src="./img/check-mark.svg" alt="check-mark">
          <p class="areas__option">Bathrooms</p>
        </li>
        <li class="areas__item">
          <img class="areas__icon" src="./img/check-mark.svg" alt="check-mark">
          <p class="areas__option">Kitchens</p>
        </li>
        <li class="areas__item">
          <img class="areas__icon" src="./img/check-mark.svg" alt="check-mark">
          <p class="areas__option">Living Rooms</p>
        </li>
        <li class="areas__item">
          <img class="areas__icon" src="./img/check-mark.svg" alt="check-mark">
          <p class="areas__option">Carpets</p>
        </li>
        <li class="areas__item">
          <img class="areas__icon" src="./img/check-mark.svg" alt="check-mark">
          <p class="areas__option">Bedrooms</p>
        </li>
        <li class="areas__item">
          <img class="areas__icon" src="./img/check-mark.svg" alt="check-mark">
          <p class="areas__option">Offices</p>
        </li>
        <li class="areas__item">
          <img class="areas__icon" src="./img/check-mark.svg" alt="check-mark">
          <p class="areas__option">Businesses</p>
        </li>
        <li class="areas__item">
          <img class="areas__icon" src="./img/check-mark.svg" alt="check-mark">
          <p class="areas__option">Windows</p>
        </li>
      </ul>
      <a class="areas__button main-button blue" href="#request">Get a free quote</a>
    </div>

    <div class="areas__part--img">
      <img class="areas__img" src="./img/home.svg" alt="house with details of areas">
    </div>
  </div>
</section>