<section class="contacts" id="contact">
  <div class="container">

    <div class="contacts__head">
      <h2 class="contacts__title">
        Quality cleaning for your home
      </h2>
      <p class="contacts__desc">
        Lorem ipsum dolor sit amet cteturdo adipiscing elit, sed do eiusmo.
      </p>
      <ul class="contacts__icons">
        <li class="contacts__icon"></li>
        <li class="contacts__icon"></li>
        <li class="contacts__icon"></li>
        <li class="contacts__icon"></li>
        <li class="contacts__icon"></li>
      </ul>
    </div>

    <address class="contacts__address">
      <h3 class="contacts__subtitle">
        Contact us
      </h3>
      <p class="contacts__addr">
        1827 Nickel Road, Los Angeles, CA, 90017, United States
      </p>
      <p class="contacts__phone-number">
        (414) 567 - 2109
      </p>
      <a class="contacts__email" href="mailto:contact@cleaning.com">contact@cleaning.com</a>
    </address>

    <div class="contacts__schedule schedule">
      <h3 class="contacts__subtitle">Hours</h3>
      <ul class="schedule__list">
        <li class="schedule__item">
          <p class="contacts__days">
            Monday to Friday
          </p>
          <p class="contacts__time">
            6:00 AM - 9:00 PM
          </p>
        </li>
        <li class="schedule__item">
          <p class="contacts__days">
            Saturday & Sunday
          </p>
          <p class="contacts__time">
            8:00 AM - 8:00 PM
          </p>
        </li>
      </ul>
    </div>

    <div class="contacts__call">
      <h3 class="contacts__subtitle">
        Get a free estimate
      </h3>
      <a class="contacts__phone" href="tel:4145672109">(414) 567 - 2109</a>
      <p class="contacts__details">
        Lorem ipsum dolor sit amet ectetur adipiscing elit, sed do eiusmod.
      </p>
      <a href="#request" class="contacts__button main-button blue">Request a free quote</a>
    </div>

  </div>
  <div class="contacts__container container">
    <span class="delimiter"></span>
  </div>
</section>