<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="./index.html">
        <img class="logo__img" src="./img/logo.svg" alt="logo">
      </a>

      <input id="burger" class="burger" type="checkbox" />
      <label class='burger__container' for="burger">
        <div class='burger__line'></div>
      </label>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="#hero" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link">Services</a>
        </li>
        <li class="nav__item">
          <a href="#pages" class="nav__link">Pages</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">Contact</a>
        </li>
      </ul>



    </nav>
    <a class="header__button" href="#request">Get a free quote</a>
  </div>
</header>