<section class="hero" id="hero">
  <div class="container">
    <div class="hero__half--left">
      <h1 class="hero__title">Quality cleaning for your home</h1>
      <p class="hero__desc section-desc">Condimentum mauris sit cursus amet id non neque pharetra nulla ornare sed
        facilisis senectus dapibus nibh ultrices eget
        suscipit aliquet et nulla magna lacus penatibus.</p>
      <div class="hero__cover">
        <a class="hero__button main-button blue" href="#request">Get a free quote</a>

        <div class="hero__phone phone">
          <a class="hero__phone-link phone__link" href="tel:4145672109">
            <img class="hero__phone-icon phone__icon" src="./img/phone.svg" alt="phone">
          </a>

          <div class="hero__phone-block phone__block">
            <p class="hero__phone-desc phone__desc">Call us now</p>
            <a class="hero__phone-number phone__number" href="tel:4145672109">(414) 567 - 2109</a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__half">
      <img class="hero__img" src="./img/hero.svg" alt="a woman is cleaning">
    </div>
  </div>
</section>