<section class="options" id="services">
  <div class="container top bottom">
    <div class="options__head">
      <h2 class="options__title section-title">
        Take a look at our professional services
      </h2>
      <a class="options__button main-button white" href="#">Explore services</a>
    </div>
    <ul class="options__list">
      <li class="options__item">
        <div class="options__img-cover">
          <img src="./img/hause.png" alt="House cleaning" class="options__icon">
        </div>
        <h3 class="options__name">House cleaning</h3>
        <p class="options__details">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis cupiditate sequi rerum necessitatibus
          eligendi commodi quis in, illum omnis sunt ullam eum harum facere ut enim expedita.
        </p>
      </li>
      <li class="options__item">
        <div class="options__img-cover">
          <img src="./img/office.png" alt="Office cleaning" class="options__icon">
        </div>
        <h3 class="options__name">Office cleaning</h3>
        <p class="options__details">
          Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est.
        </p>
      </li>
      <li class="options__item">
        <div class="options__img-cover">
          <img src="./img/factory.png" alt="Industrial cleaning" class="options__icon">
        </div>
        <h3 class="options__name">Industrial cleaning</h3>
        <p class="options__details">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis cupiditate sequi rerum necessitatibus
          eligendi commodi quis in, illum omnis sunt ullam eum harum facere ut enim expedita! voluptatem sunt.
        </p>
      </li>
    </ul>
  </div>
</section>