<section class="pages" id="pages">
  <div class="container top bottom">
    <div class="pages__heading">
      <div class="pages__cover">
        <h2 class="pages__title section-title">
          Articles & resources
        </h2>
        <p class="pages__desc section-desc">
          Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus.
        </p>
      </div>

      <ul class="pages__buttons">
        <li class="pages__btn">
          <a class="pages__button main-button blue" href="#request">Get a free quote</a>
        </li>
        <li class="pages__btn">
          <a class="pages__button main-button white" href="#">Explore services</a>
        </li>
      </ul>
    </div>

    <ul class="pages__list">
      <li class="pages__item">
        <article class="pages__article article">
          <div class="pages__transparent"></div>
          <div class="article__block">

            <h3 class="article__head">
              8 best vacuum cleaners to clean any mess for your home in 2022
            </h3>
            <p class="article__text">
              Lorem ipsum dolor sit amet conse ctetur adip iscing elit justo quis odio sit sit ac port titor sit
              males.
            </p>

            <div class="article__footer">
              <p class="article__date">Jan 28, 2022</p>
              <a class="article__button" href="#" target="_blank" aria-label="More..."></a>
            </div>
          </div>
        </article>
      </li>
      <li class="pages__item">
        <article class="pages__article article">
          <div class="pages__transparent"></div>
          <div class="article__block">

            <h3 class="article__head">
              How to properly disinfect your phone and other electronics
            </h3>
            <p class="article__text">
              Lorem ipsum dolor sit amet conse ctetur adip iscing elit justo quis odio sit sit ac port titor sit
              males.<br>
              Lorem ipsum dolor sit amet conse ctetur adip iscing elit justo quis odio sit sit ac port titor sit
              males.
            </p>

            <div class="article__footer">
              <p class="article__date">Feb 1, 2022</p>
              <a class="article__button" href="#" target="_blank" aria-label="More..."></a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>