<section class="request" id="request">
  <div class="container top bottom">
    <div class="request__wrapper">
      <h2 class="request__title section-title">
        Request a free cleaning quote today
      </h2>
      <p class="request__desc section-desc">
        In dignissim euismod pretium amet enim a eu nam ut urna accumsan pellentesque lacus duis pharetra eutortor.
      </p>

      <div class="request__phone phone">
        <a class="request__phone-link phone__link" href="tel:4145672109">
          <img class="request__phone-icon phone__icon" src="./img/phone.svg" alt="phone">
        </a>

        <div class="request__phone-block phone__block">
          <p class="request__phone-desc phone__desc">Call us now</p>
          <a class="request__phone-number phone__number" href="tel:4145672109">(414) 567 - 2109</a>
        </div>
      </div>

      <div class="request__delimiter "></div>

      <h3 class="request__offer">
        Not convinced yet?
      </h3>
      <p class="request__notes">
        Massa bibendum consectetur maurisid gravida purus, dolor dui amet morbi non nunc urna purus diam.
      </p>
      <a class="request__button main-button white" href="#">Browse our packages</a>

    </div>
    <form class="request__form">
      <label class="request__label" for="name">Full name
        <input class="request__input" id="name" type="text">
      </label>
      <label class="request__label" for="phone">Phone number
        <input class="request__input" id="phone" type="number">
      </label>
      <label class="request__label" for="address">Address
        <input class="request__input" id="address" type="text">
      </label>
      <label class="request__label" for="email">Email
        <input class="request__input" id="email" type="email">
      </label>
      <label class="request__label" for="service">Requested service
        <input class="request__input" id="service" type="text">
      </label>
      <label class="request__label" for="day">Day of service
        <input class="request__input" id="day" type="number">
      </label>
      <label class="request__label" for="note">Add a note
        <textarea class="request__textarea" id="note" type="text">
      </label>
      <button class="request__button main-button blue" type="submit">Submit message</button>
    </form>
  </div>
</section>