<section class="society" id="society">
  <div class="container">
    <div class="society__part">
      <p class="society__subtitle">
        Covid-19 sanitization
      </p>
      <h2 class="society__title section-title">
        We follow guidelines to keep you safe from the COVID-19 virus
      </h2>
      <p class="society__desc section-desc">
        Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus.
      </p>
      <div class="society__cover">
        <a class="society__button main-button blue" href="#request">Get a free quote</a>

        <div class="society__phone phone">
          <a class="society__phone-link phone__link" href="tel:4145672109">
            <img class="society__phone-icon phone__icon" src="./img/phone.svg" alt="phone">
          </a>

          <div class="society__phone-block phone__block">
            <p class="society__phone-desc phone__desc">Call us now</p>
            <a class="society__phone-number phone__number" href="tel:4145672109">(414) 567 - 2109</a>
          </div>
        </div>
      </div>
    </div>

    <div class="society__part--img">
      <img class="society__img" src="./img/society.svg" alt="a woman cleans the dust">
    </div>
  </div>
</section>