<section class="stages">
  <div class="container">
    <h2 class="stages__title section-title">
      How our stages works?
    </h2>
    <p class="stages__desc section-desc">
      Sagittis nibh scelerisque vitae eget vulputate sem elementum sed neque nisi felis non ultrices massa id egestas
      quam
      velit pretium nu.
    </p>
    <ul class="stages__list">
      <li class="stages__item">
        <img src="./img/schedule.svg" alt="schedule" class="stages__img">
        <h3 class="stages__subtitle">
          1. Schedule online
        </h3>
        <p class="stages__desc">
          Sagittis nibh scelerisque vitae egetolment vulputate sem elementum sed n.
        </p>
      </li>
      <li class="stages__item">
        <img src="./img/pay.svg" alt="pay" class="stages__img">
        <h3 class="stages__subtitle">
          2. Pay online easily
        </h3>
        <p class="stages__desc">
          Vitae ut accumsan blandit ullamcorperolm suscipit dui gravida amet at nunc.
        </p>
      </li>
      <li class="stages__item">
        <img src="./img/cleaner.svg" alt="cleaner" class="stages__img">
        <h3 class="stages__subtitle">
          3. Get your house cleaned
        </h3>
        <p class="stages__desc">
          Nunc maecenas sollicitudin metus tellus mattis sed porttitor cursus eleifend.
        </p>
      </li>
    </ul>

    <ul class="stages__buttons">
      <li class="stages__btn">
        <a class="stages__button main-button blue" href="#request">Get a free quote</a>
      </li>
      <li class="stages__btn">
        <a class="stages__button main-button white" href="#">Explore services</a>
      </li>
    </ul>
    <span class="delimiter"></span>
  </div>
</section>