<section class="stats">
  <div class="container">
    <h2 class="section-title">
      Our cleaning services have no comparison
    </h2>
    <p class="section-desc">
      Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus vitae
      cras
      viverra gravida sapien.
    </p>
    <ul class="stats__list">
      <li class="stats__item">
        <img src="./img/clients.svg" alt="clients icon" class="stats__icon">
        <div class="stats__wrap">
          <h4 class="stats__name">clients</h4>
          <p class="stats__counter">3,480+</p>
        </div>
      </li>
      <li class="stats__item">
        <img src="./img/jobs.svg" alt="jobs icon" class="stats__icon">
        <div class="stats__wrap">
          <h4 class="stats__name">Jobs done</h4>
          <p class="stats__counter">12,540+</p>
        </div>
      </li>
      <li class="stats__item">
        <img src="./img/employees.svg" alt="employees icon" class="stats__icon">
        <div class="stats__wrap">
          <h4 class="stats__name">Employees</h4>
          <p class="stats__counter">100+</p>
        </div>
      </li>
    </ul>
    <img src="./img/stats.svg" alt="a man cleans a desk" class="stats__image">
    <span class="delimiter"></span>
  </div>
</section>