.burger__container {
  position: relative;
  z-index: 2;

  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 580px) {
    @include adaptiveValue(margin-left, 60, 220, 580, 960);
  }

  @media screen and (max-width: 959px) {
    display: flex;
  }
}

#burger {
  display: none;
}

.burger__line,
.burger__line::before,
.burger__line::after {
  display: block;
  background-color: var(--accent-color);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  box-shadow: 0 4px 10px 0 rgb(20, 20, 43, 0.5);
}

.burger__line::before {
  content: '';
  margin-top: -8px;
}

.burger__line::after {
  content: '';
  margin-top: 8px;
}

#burger:checked + .burger__container .burger__line::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#burger:checked + .burger__container .burger__line {
  background: rgba(255, 255, 255, 0);
}

#burger:checked + .burger__container .burger__line::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
