.phone {
  display: flex;
  align-items: center;

  @media screen and (max-width: 579px) {
    margin: 0 auto;
  }
}

.phone__link:hover .phone__icon,
.phone__link:focus .phone__icon {
  outline: 1px solid var(--accent-color);
}

.phone__icon {
  width: px2rem(72);
  height: px2rem(72);
  border-radius: 50%;

  outline: 1px solid var(--feature1-color);
  box-shadow: 0 4px 10px 4 rgba(20, 20, 43, 0.04);

  transition: outline-color 250ms var(--timing-fn);

  @media screen and (max-width: 767px) {
    @include adaptiveValue(width, 40, 72, 320, 768);
    @include adaptiveValue(height, 40, 72, 320, 768);
  }
}

.phone__block {
  margin-left: px2rem(16);
}

.phone__desc {
  margin-bottom: px2rem(4);

  @include adaptiveValue(font-size, 14, 16, 320, 1440);
  line-height: 112.5%; /* 18/16 */
  letter-spacing: px2rem(1.6);
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (min-width: 1440px) {
    font-size: px2rem(16);
  }
}

.phone__number {
  @include adaptiveValue(font-size, 18, 28, 320, 1440);
  line-height: 128.571429%; /* 36/28 */
  font-weight: 700;

  transition: color 250ms var(--timing-fn);

  @media screen and (min-width: 1440px) {
    font-size: px2rem(28);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
