.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: px2rem(30);
  padding-bottom: px2rem(30);
  border-top: 1px solid var(--feature1-color);

  @media screen and (max-width: 579px) {
    display: block;
    @include adaptiveValue(padding-top, 10, 30, 320, 580);
    @include adaptiveValue(padding-bottom, 10, 30, 320, 580);

    text-align: center;
  }
}

.footer__text {
  font-size: px2rem(18);
  @include adaptiveValue(font-size, 14, 18, 320, 1440);
  line-height: 166.666667%; /* 30/18 */

  @media screen and (max-width: 579px) {
    margin-top: px2rem(6);
    text-align: center;
  }
}

.footer__text a {
  color: var(--accent-color);
}

.footer__text span {
  @media screen and (max-width: 330px) {
    display: block;
  }
}
