.hero .container {
  position: relative;

  display: flex;

  @media screen and (max-width: 579px) {
    display: block;
  }
  @media screen and (min-width: 580px) {
    padding-right: 0;
  }
}

.hero__half--left {
  @media screen and (min-width: 580px) {
    width: 46%;
  }
}

.hero__title {
  @include adaptiveValue(font-size, 24, 68, 320, 1440);
  line-height: 108.823529%; /* 74/68 */
  font-weight: 700;

  @media screen and (min-width: 768px) {
    @include adaptiveValue(margin-top, 0, 120, 768, 1200);
  }

  @media screen and (min-width: 1200px) {
    margin-top: px2rem(228);
  }

  @media screen and (min-width: 1440px) {
    font-size: px2rem(68);
  }

  @media screen and (max-width: 579px) {
    margin-top: px2rem(30);

    text-align: center;
  }
}

.hero__cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  gap: px2rem(16);
  @include adaptiveValue(margin-top, 10, 40, 320, 1440);

  @media screen and (max-width: 579px) {
    @include adaptiveValue(margin-bottom, 20, 40, 320, 1440);
  }

  @media screen and (min-width: 1440px) {
    margin-top: px2rem(40);
  }
}

.hero__button {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__img {
  position: absolute;
  top: 0;
  right: 0;

  @include adaptiveValue(width, 290, 720, 580, 1440);
  height: auto;

  @media screen and (max-width: 579px) {
    position: static;

    width: 100%;
  }

  @media screen and (min-width: 1440px) {
    width: px2rem(720);
  }
}
