.service .container {
  @include adaptiveValue(padding-top, 100, 340, 580, 1440);
  @include adaptiveValue(padding-bottom, 100, 240, 580, 1440);

  @media screen and (min-width: 1440px) {
    padding-top: px2rem(340);
    padding-bottom: px2rem(240);
  }

  @media screen and (max-width: 579px) {
    padding-top: px2rem(100);
    padding-bottom: px2rem(100);
  }

  // border-bottom: 1px solid var(--feature1-color);
}

.service .section-title,
.service .section-desc {
  text-align: center;
}

.service .section-desc {
  max-width: px2rem(650);
  margin-left: auto;
  margin-right: auto;
}

.service__list {
  @media screen and (min-width: 580px) {
    display: flex;
    gap: 42px;
  }

  margin-top: 64px;
  margin-bottom: 56px;
}

.service__item {
  text-align: center;
}

.service__item:not(:last-child) {
  margin-bottom: px2rem(20);
}

.service__subtitle {
  @include adaptiveValue(font-size, 20, 28, 320, 1440);
  font-weight: 700;

  @media screen and (min-width: 1440px) {
    font-size: px2rem(28);
  }
}

.service__desc {
  @include adaptiveValue(margin-top, 4, 16, 320, 1440);
  @include adaptiveValue(font-size, 16, 21, 320, 1440);

  @media screen and (min-width: 1440px) {
    font-size: px2rem(21);

    margin-top: px2rem(16);
  }
}

.service__img {
  display: inline-block;
  max-height: px2rem(240);
  width: auto;

  @media screen and (max-width: 579px) {
    max-height: px2rem(180);
  }
}

.service__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  @media screen and (min-width: 580px) {
    flex-direction: row;
    justify-content: center;
  }
}

.service__button {
}
