.stages .container {
  @include adaptiveValue(padding-top, 100, 340, 580, 1440);

  @media screen and (min-width: 1440px) {
    padding-top: px2rem(340);
  }

  @media screen and (max-width: 579px) {
    padding-top: px2rem(100);
  }
}

.stages .section-title,
.stages .section-desc {
  text-align: center;
}

.stages .section-desc {
  max-width: px2rem(650);
  margin-left: auto;
  margin-right: auto;
}

.stages__list {
  @media screen and (min-width: 580px) {
    display: flex;
    gap: px2rem(42);
  }

  margin-top: px2rem(64);
  margin-bottom: px2rem(56);
}

.stages__item {
  text-align: center;
}

.stages__item:not(:last-child) {
  margin-bottom: px2rem(20);
}

.stages__subtitle {
  @include adaptiveValue(font-size, 20, 28, 320, 1440);
  font-weight: 700;
  line-height: 128.571429%; /* 36/28 */

  @media screen and (min-width: 1440px) {
    font-size: px2rem(28);
  }
}

.stages__desc {
  @include adaptiveValue(margin-top, 4, 16, 320, 1440);

  @include adaptiveValue(font-size, 16, 21, 320, 1440);

  @media screen and (min-width: 1440px) {
    margin-top: px2rem(16);

    font-size: px2rem(21);
  }
}

.stages__img {
  display: inline-block;
  max-height: px2rem(240);
  width: auto;

  @media screen and (max-width: 579px) {
    max-height: px2rem(180);
  }
}

.stages__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  @media screen and (min-width: 580px) {
    flex-direction: row;
    justify-content: center;
  }
}
