body {
  background-color: var(--main-page-color);
  color: var(--main-text-color);
  font-family: var(--main-text-font);
  line-height: 142.857143%; /* 30/21 */
  font-weight: 400;

  // &.menu-open,
  // &.modal-open {
  //   overflow: hidden;
  // }
}

.container {
  min-width: px2rem(320);
  max-width: px2rem(1440);
  margin: 0 auto;
  @include adaptiveValue(padding-left, 15, 110, 320, 1440);
  @include adaptiveValue(padding-right, 15, 110, 320, 1440);

  // border: 1px dashed black;
}
