html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-page-color);
  color: var(--main-text-color);
  font-family: var(--main-text-font);
  font-size: px2rem(21);
  line-height: 142.857143%; /* 30/21 */
  font-weight: 400;

  &.menu-open {
    overflow: hidden;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  min-width: px2rem(320);
  max-width: px2rem(1440);
  margin: 0 auto;
  @include adaptiveValue(padding-left, 15, 110, 320, 1440);
  @include adaptiveValue(padding-right, 15, 110, 320, 1440);

  @media screen and (min-width: 1440px) {
    padding: 0 px2rem(110);
  }

  &.top {
    @include adaptiveValue(padding-top, 100, 240, 580, 1440);

    @media screen and (max-width: 579px) {
      padding-top: px2rem(100);
    }

    @media screen and (min-width: 1440px) {
      padding-top: px2rem(240);
    }
  }

  &.bottom {
    @include adaptiveValue(padding-bottom, 100, 240, 580, 1440);

    @media screen and (max-width: 579px) {
      padding-bottom: px2rem(100);
    }

    @media screen and (min-width: 1440px) {
      padding-bottom: px2rem(240);
    }
  }
}

.delimiter {
  display: block;
  min-width: 100%;
  height: px2rem(1);
  @include adaptiveValue(margin-top, 100, 240, 580, 1440);

  background-color: var(--feature1-color);

  @media screen and (max-width: 579px) {
    margin-top: px2rem(100);
  }

  @media screen and (min-width: 1440px) {
    margin-top: px2rem(240);
  }
}
